<footer class="footer bg-dark py-3 mt-auto text-white-50">
  <div class="container d-flex justify-content-center align-items-center">
    <p>
      GourmetCity &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Created by <b><i>liaopeichen </i></b>
      <a href="https://github.com/liaopeichen" target="_blank">
        <i class="fa-brands fa-github"></i
      ></a>
    </p>
  </div>
</footer>
